@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Content/Loginteamplate/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Loginteamplate/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Loginteamplate/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Loginteamplate/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--====================================================================
        ===========================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Loginteamplate/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Loginteamplate/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Loginteamplate/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Loginteamplate/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Loginteamplate/css/main.css">
    <!--===============================================================================================-->
</head>
<body>
    <div>
        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
    <div class="limiter">
        <div class="container-login100" style="background-image: url('/Content/Loginteamplate/images/img-01.jpg');">
            <div class="wrap-login100 p-t-190 p-b-30">
                <form class="login100-form validate-form" >
                    <div style="text-align:center">
                        <img src="~/Content/Loginteamplate/images/12.png" width="100" height="100" alt="AVATAR">
                    </div>

                    <span class="login100-form-title p-t-20 p-b-45">
                       Đại Học Văn Lang
                    </span>

                    <div class="wrap-input100 validate-input m-b-10" data-validate="Username is required">
                        <input class="input100" type="text" name="username" placeholder="Username">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-user"></i>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-10" data-validate="Password is required">
                        <input class="input100" type="password" name="password" placeholder="Password">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock"></i>
                        </span>
                    </div>

                    <div class="container-login100-form-btn p-t-10">
                        <button type="submit" class="login100-form-btn">
                            Login
                        </button>
                    </div>

                   
                </form>
            </div>
        </div>
    </div>
  }
    </div>




    <!--===============================================================================================-->
    <script src="~/Content/Loginteamplate/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Loginteamplate/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/Loginteamplate/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Loginteamplate/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Loginteamplate/js/main.js"></script>

</body>
</html>