
@model IEnumerable<WebApplication2.Models.MonHoc>
@{
    ViewBag.Title = "Open";
    Layout = "~/Views/Shared/_1Layout.cshtml";

}


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            @*<div class="panel-heading">
                  Các Khóa Học
                </div>*@
            <!-- /.panel-heading -->
            <!--  NewTable-->
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Môn Học Đang Dạy</h4>
                    @*<h6 class="card-subtitle">Data table example</h6>*@
                    <div class="table-responsive m-t-40">
                        <table id="myTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Mã Môn Học</th>
                                    <th>Tên Môn Học</th>
                                    <th>Mô Tả</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @*<a href="~/Course/Index/@item.MaMH">*@
                                                @Html.DisplayFor(modelItem => item.MaMH)
                                               
                                        </td>
                                        <td>
                                            @*<a href="~/Course/Index/@item.MaMH">*@
                                                @Html.DisplayFor(modelItem => item.TenMH)
                                            
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Mota)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!--  NewTable-->
        </div>
    </div>
</div>

