
@model IEnumerable<WebApplication2.Models.BuoiHoc>
@{
    ViewBag.Title = "ListBuoi";

}

<head>
    <link href="~/Content/Newview/dist/css/style.min.css" rel="stylesheet">
</head>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">

            <!-- /.panel-heading -->
            <!--  NewTable-->
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Danh Sách Buổi Học</h4>
                    @*<h6 class="card-subtitle">Data table example</h6>*@
                    <div class="table-responsive m-t-40">
                        <table id="myTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>

                                   
                                    <th>Buổi Thứ</th>
                                    <th>Ngày Học</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                      
                                        <td>
                                            @*@Html.DisplayFor(modelItem => item.Buoi_thu)*@
                                            <a href="~/Course/ListDiemDanh/@item.ID_BH"> @item.Buoi_thu</a>
                                        </td>
                                        <td>
                                            @Convert.ToDateTime(item.NgayHoc).ToString("dd/MM/yyyy")
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!--  NewTable-->
        </div>
    </div>
</div>

<script src="~/Content/Newview/assets/node_modules/jquery/jquery-3.2.1.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="~/Content/Newview//assets/node_modules/popper/popper.min.js"></script>
<script src="~/Content/Newview//assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="~/Content/Newview/dist/js/perfect-scrollbar.jquery.min.js"></script>
<!--Wave Effects -->
<script src="~/Content/Newview/dist/js/waves.js"></script>
<!--Menu sidebar -->
<script src="~/Content/Newview/dist/js/sidebarmenu.js"></script>
<!--stickey kit -->
<script src="~/Content/Newview/assets/node_modules/sticky-kit-master/dist/sticky-kit.min.js"></script>
<script src="~/Content/Newview/assets/node_modules/sparkline/jquery.sparkline.min.js"></script>
<!--Custom JavaScript -->
<script src="~/Content/Newview/dist/js/custom.min.js"></script>
<!-- This is data table -->
<script src="~/Content/Newview/assets/node_modules/datatables/jquery.dataTables.min.js"></script>